		body{background: rgb(0,36,16);
background: linear-gradient(90deg, rgba(0,36,16,1) 0%, rgba(9,121,11,1) 25%, rgba(0,212,255,1) 100%);}
		body{
		background-image: url(https://i.pinimg.com/originals/54/e8/a5/54e8a5cfbca8cc6ec098ae5e3c5838d2.jpg);
			background-repeat: no-repeat; 
			background-position: center;
			background-size: cover;
		}
.video{
	text-align: center;  left: 15%
}